{% load static %}
<div class="card" style="height: 30em; width: 30rem; margin-bottom: 20px; border-radius: 2rem; border-color: lightgray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                {% if job.company.company_image %}
                    <div class="mb-3 text-center relative" style="width: 100%; max-height: 160px">
                        <img src="{{ job.company.company_image.url }}" class="img mx-auto" height="160" alt="{{ job.company.company_name }}">
                    </div>
                {% else %}
                    <div class="mb-3 text-center" style="max-width: 100%; max-height: 160px">
                        <img src="{% static 'Images/test.jpg' %}" class="img mx-auto" height="160" alt="Default Image">
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <h5 style="font-weight: bold">
                        {% if user_type == 'company' %}
                            <a href="{% url 'applicants' job.id %}" style="text-decoration: none; color: inherit;">
                        {% else %}
                            <a href="{% url 'job_description' job.id %}" style="text-decoration: none; color: inherit;">
                        {% endif %}
                            {{ job.company.company_name }} - {{ job.title }}
                        </a>
                    </h5>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <p class="date" style="font-weight: bold; color: darkcyan">
                    Expires: {{ job.exp_date|date:"d/m/Y" }}
                </p>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col" style="overflow: hidden; height: 6.4rem; text-align: justify; padding-left: 1rem; padding-right: 1rem; margin-bottom: 1rem">
                {{ job.description }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="d-inline-block" style="margin-right: 1rem; padding-right: .50rem; padding-left: .50rem; color: darkcyan; border-radius: 5rem; border: 1px solid darkcyan">{{ job.job_type }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    {% if job.categories.all %}
                        <p style="color: darkcyan"><strong>Categories:</strong>
                            {% for category in job.categories.all %}
                                <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p style="color: darkcyan"><strong>Categories:</strong> No categories to show</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
