{% extends 'Base/base.html' %}
{% block content %}

<a href="{% url 'review_page' %}">review page</a>

<div class="container mt-5" style="padding-bottom: 2rem">
    <div class="container centered">
        <h2 style="padding-bottom: 1rem; font-weight: bold; color: darkcyan">{{ company_name }} - {{ title }}</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{ job.id }}">
            <div class="row" style="padding-bottom: 2rem">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <!-- Personal Details -->
                            <div class="mb-3">
                                <label for="fullName" class="form-label" style="font-weight: bold; color: darkcyan">Full Name</label>
                                <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Enter your name here" value="{{user.first_name}} {{user.last_name}}">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label" style="font-weight: bold; color: darkcyan">Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="fx. example@example.com" value="{{user.email}}">
                            </div>
                            <!-- Address Details -->
                            <div class="mb-3">
                                <label for="streetName" class="form-label" style="font-weight: bold; color: darkcyan">Street Name</label>
                                <input type="text" class="form-control" name="streetName" id="streetName" placeholder="Enter here" value="{{profile.street_name}}">
                            </div>
                            <div class="mb-3">
                                <label for="houseNr" class="form-label" style="font-weight: bold; color: darkcyan">House Number</label>
                                <input type="number" class="form-control" name="houseNr" id="houseNr" placeholder="fx. 122" value="{{profile.house_number}}">
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label" style="font-weight: bold; color: darkcyan">City</label>
                                <input type="text" class="form-control" name="city" id="city" placeholder="Enter here" value="{{profile.city}}">
                            </div>
                            <div class="mb-3">
                                <label for="postalCode" class="form-label" style="font-weight: bold; color: darkcyan">Postal Code</label>
                                <input type="number" class="form-control" name="postalCode" id="postalCode" placeholder="fx. 122" value="{{profile.postal_code}}">
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label" style="font-weight: bold; color: darkcyan">Country</label>
                                <select class="form-select" name="country" id="country" aria-label="Default select example">
                                    <option selected>Select country</option>
                                    {% for country in country_list %}
                                    <option value="{{ country }}" {% if country == profile.country %}selected{% endif %}>{{ country }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Cover Letter -->
                            <div class="mb-3" style="padding-bottom: .80rem">
                                <label for="coverLetter" class="form-label" style="font-weight: bold; color: darkcyan">Cover Letter</label>
                                <textarea class="form-control" name="coverLetter" id="coverLetter" rows="14" placeholder="Type here" style="resize: none"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Experience -->
            <div class="row" style="padding-bottom: 2rem">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <label for="experienceForms" class="form-label" style="font-weight: bold; color: darkcyan">Experience</label>
                            <div id="experienceForms">
                                <!-- Dynamic experience fields added by JavaScript -->
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="button" id="addRowBtn" class="btn btn-primary" onclick="addRowExp()">Add +</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recommendations -->
            <div class="row" style="padding-bottom: 2rem">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <label for="recommendationForms" class="form-label" style="font-weight: bold; color: darkcyan">Recommendations</label>
                            <div id="recommendationForms">
                                <!-- Dynamic recommendation fields added by JavaScript -->
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="button" id="addRowBtn2" class="btn btn-primary" onclick="addRowRec()">Add +</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submission Button -->
            <div class="d-grid gap-2 col-2 mx-auto" style="padding: 2rem">
                <button type="submit" class="btn btn-primary">Submit Application</button>
            </div>
        </form>
    </div>
</div>

<script>
    let rowCounter = 1;

    function addRowExp() {
        rowCounter++;
        const newRow = document.createElement("div");
        newRow.className = "row mb-3";
        newRow.innerHTML = `
            <div class="col-md-4">
                <div class="mb-3">
                    <input type="text" class="form-control" name="placeOfWork[]" placeholder="Place Of Work">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <input type="text" class="form-control" name="role[]" placeholder="Role">
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-3">
                    <input type="date" class="form-control" name="startDate[]" placeholder="Start Date">
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-3">
                    <input type="date" class="form-control" name="endDate[]" placeholder="End Date">
                </div>
            </div>
        `;
        document.getElementById('experienceForms').appendChild(newRow);
    }

    function addRowRec() {
        const newRow = document.createElement("div");
        newRow.className = "row mb-3";
        newRow.innerHTML = `
            <div class="col-md-3">
                <div class="mb-3">
                    <input type="text" class="form-control" name="rec_name[]" placeholder="Name">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <input type="text" class="form-control" name="rec_role[]" placeholder="Role">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <input type="email" class="form-control" name="rec_email[]" placeholder="Email">
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-3">
                    <input type="number" class="form-control" name="rec_phone_number[]" placeholder="Phone Number">
                </div>
            </div>
            <div class="col-md-1">
                <div class="mb-3" style="padding-top: 1rem">
                    <input type="checkbox" class="btn-check" name="rec_can_contact[]" value="true" checked>
                    <label class="btn btn-outline-primary">Can Contact</label>
                </div>
            </div>
        `;
        document.getElementById('recommendationForms').appendChild(newRow);
    }
</script>
{% endblock %}
