{%  extends 'Base/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Sign Up</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fullNameInput" class="form-label">Full Name</label>
                            <input type="text" class="form-control" name="full_name" id="fullNameInput">
                        </div>
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="emailInput">
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="passwordInput">
                        </div>
                        <div class="mb-3">
                            <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" id="confirmPasswordInput">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>

                    <div class="text-center mt-3">
                        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
