{% extends 'Base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row" style="padding-bottom: 6rem; padding-top: 2rem">
        <div class="col-12">
            <div class="cover-photo-container" style="position: relative; width: 100%; height: 250px">
                {% if company.cover_image %}
                    <img src="{{ company.cover_image.url }}" alt="{{ company.company_name }}" class="img-fluid">
                {% else %}
                    <img src="{% static 'Images/test.jpg' %}" alt="Default Image" class="img-fluid">
                {% endif %}
            </div>
        </div>
        <div class="col-12 text-end">
            <p class="location" style="font-size: larger; font-weight: bolder; color: darkcyan">Location: {{ company.address }}, {{ company.city }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="company-name" style="font-weight: bold">{{ company.company_name }} - {{ company.company_title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding-top: 2rem; height: 30rem; border: 2px solid #000000">
            <p class="about-company">
                {{ company.company_description }}
                {{ company.about_company }}
            </p>
        </div>
    </div>
    <div class="row" style="padding-top: 2rem">
        <h4 class="all-jobs" style="font-weight: bold">All Jobs</h4>
        <div class="container" style="padding-top: 2rem; padding-bottom: 2rem">
            <p>All jobs will be here</p>
        </div>
    </div>
</div>
{% endblock %}
