{% extends 'Base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="button-container" style="margin-bottom: 1rem;">
        <a href="{% url 'new_job' %}" class="btn btn-success" style="background-color: green; border: none; padding: 10px 20px; color: white; text-decoration: none; border-radius: 5px;">New Job</a>
        <a href="{% url 'logout' %}" class="btn btn-secondary" style="background-color: gray; border: none; padding: 10px 20px; color: white; text-decoration: none; border-radius: 5px; margin-left: 10px;">Logout</a>
    </div>
    <div class="row" style="padding-bottom: 6rem; padding-top: 2rem">
        <div class="col-12">
            <div class="cover-photo-container" style="position: relative; width: 100%; height: 250px">
                {% if company.cover_image %}
                    <img src="{{ company.cover_image.url }}" alt="Cover photo" style="width: 100%; height: 100%; object-fit: cover">
                {% else %}
                    <img src="{% static 'Images/test.jpg' %}" alt="Cover photo" style="width: 100%; height: 100%; object-fit: cover">
                {% endif %}
                {% if company.company_image %}
                    <img src="{{ company.company_image.url }}" alt="Smaller image" style="position: absolute; top: 100%; left: .50rem; transform: translateY(-50%); width: 10rem; height: 10rem; border-radius: 50%; border: 2px solid #000000; z-index: 1">
                {% else %}
                    <img src="{% static 'Images/red_x.jpg' %}" alt="company image" style="position: absolute; top: 100%; left: .50rem; transform: translateY(-50%); width: 10rem; height: 10rem; border-radius: 50%; border: 2px solid #000000; z-index: 1">
                {% endif %}
            </div>
        </div>
        <div class="col text-end">
            <div class="row">
                <div class="col">
                   <p class="location" style="font-size: larger; color: darkcyan">Location: {{ company.address }}, {{ company.postal_code }} {{ company.city }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="company-name" style="font-weight: bold">{{ company.company_name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding-top: 1rem">
            <p class="about-company">
                {{ company.company_description }}
                {{ company.about_company }}
            </p>
        </div>
    </div>
    <div class="row" style="padding-top: 2rem">
        <h4 class="all-jobs" style="font-weight: bold">All Jobs</h4>
        <div class="container" style="padding-top: 1rem; padding-bottom: 2rem">
            {% if jobs %}
                <div class="row">
                    {% for job in jobs %}
                        <div class="col-md-6 mb-4">
                            {% with job=job user_type=user_type %}
                                {% include "Base/card.html" %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No jobs available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
