{% extends 'Base/base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <form>
                        <div class="mb-3">
                            <label for="jobTitleInput" class="form-label">Job Title</label>
                            <input type="text" class="job-title" id="jobTitleInput"><br>
                            <label for="aboutJob" class="form-label">About the job</label>
                            <textarea name="about the job" id="aboutJob" rows="5"></textarea><br>
                        </div>
                    </form>
                </div>
                <div class="card">

                </div>
            </div>
        </div>
    </div>
{% endblock %}